nav {
	background-color: rgb(126, 104, 104);
	ul {
		display: flex;
		justify-content: flex-end;
		margin-right: 3rem;
		li {
			padding: 0.5rem 1rem;
			a {
				color: seashell;
				font-size: 1.5rem;
			}
		}
	}
}
